*{ 
    margin: 0;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #5ebbe0;
}

h1{
    font-size: 45px;
    font-weight: 600;
    color:rgb(231, 255, 255);
}



p{
    color:rgb(231, 255, 255);

    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;

}
